@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@300;400;500;700&display=swap");

.under-intro {
  border: solid #ffe1e1;
  /* background-color: #ffe1e1; */
  height: 100vh;
  margin: 0;
  display: flex;
  text-align: center;
  background: linear-gradient(#ffd8bf, #d6eced);
  /* padding:10px; */
}

.container-wrapper {
  position: relative;
 
}

.scrollmagic-pin-spacer {
  padding: 0 !important;
  height: auto !important;
}

/* .arrow-section {
  border: solid brown;
  height: 10vh;
} */

#section2 {
  margin-top: -10vh;
  padding-top: 10vh;
}

.under-one {
  border: solid #ffd8bf;
  background-color: #ffd8bf;
  height: auto;
  margin: 0;
  display: flex;
}

.under-two {
  border: solid #ffe1e1;
  height: auto;
  background-color: #ffe1e1;
  padding: 10px;

  margin: 0;
}
.under-three {
  border: solid #ffd8bf;
  height: 70vh;
  margin: 0;
  background-color: #ffd8bf;
}
.under-four {
  border: solid #ffe1e1;
  background-color: #ffe1e1;
  height: 50vh;
  margin: 0;
}
.under-five {
  border: solid #FFDDD2;
  height: 80vh;
  background-color: #FFDDD2;
  margin: 0;
}
.under-six {
  border: solid #ffd8bf;
  height: 100vh; 
  background-color: #ffd8bf;
  /* position: relative; */
  z-index:1;
 
}
.footer-under {
  border: solid #1c1819;
  /* position: relative;
  bottom: 0; */
  width: 100%;
  min-height: 10vh; 
  background-color: #1c1819;
  color: whitesmoke;
  text-align: center;
  padding: 5px;
 
}

