@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Nunito+Sans:wght@400;600;700;900&display=swap");

.header-nav {
  height: 10vh;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}


.nav-link-container-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6f91;
}
.nav-link-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-orange);
}

.nav-link-container-left > a :active {
  background-color: indigo;
}

