.leaflet-container {
  width: 100%;
  height: 90vh;
  /* margin-bottom: 10vh; */
}
.leaflet-popup-content-wrapper {
  background-color: #f5ebe0;
}

.leaflet-popup-tip- {
  background-color: #febe8c;
}

.maps-card-info {
  line-height: 1.2;
}

.maps-text-body {
  font-size: medium;
  font-style: italic;
  font-weight: 300;
}
