.leaflet-container {
  width: 100%;
  height: 100vh;
}
.leaflet-popup-content-wrapper{
    background-color: #F5EBE0;

}

.leaflet-popup-tip-{
    background-color: #FEBE8C;
}

.maps-card-info{
    line-height: 1.2; 

}

.maps-text-body{
    font-size: medium;
    font-style: italic;
    font-weight: 300;
   
}



